@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
	font-size: 12px;
	text-align: center;
	color: white;
}
.attribution a {
	color: hsl(0, 44%, 54%);
}
